# Бінарні файли
*.exe
*.out
*.app
RieltorGenie

# Кеші та тимчасові файли
*.log
*.tmp
*.stb
*.old

# Конфіденційні дані
*.json
users.json
.env

# IDE (VSCode, GoLand)
.vscode/
.idea/

# OS
.DS_Store

# Дані, які створюються парсером
data/
internal/objects/parsed_objects.json

# Node modules

node_modules/
